.RaceCard {
    /* margin: auto 0; */
    width: calc((100% / 2) - 8px);
    border-radius: 4px;
    /* border: 2px solid #252324; */
    font-size: 12px;
    /* padding: 8px; */
}

.Header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #252324; */
    /* color: var(--tertiary); */
}

.Main {
    height: 75%;
    /* padding: 8px; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.Main h4 {
    margin: 4px 0;
}

.Footer {
    height: 10%;
    display: flex;
    justify-content: center;
}
.Footer span {
    display: block;
    font-size: 20px;
}