.Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    padding: 16px;
    width: calc(100% - 24px);
    max-width: 480px;
}


.FormBox {
    width: 100%;
    margin: 16px 0;
}

.FormBox:first-child {
    margin-bottom: 16px;
}

.FormBox input {
    border-radius: 4px;
    font-size: 18px;
    width: inherit;
    display: block;
    margin: 8px 0;
    height: 40px;
    padding: 4px;
    outline: none;
    cursor: pointer;
}

.FormBox input:hover {
    border: 2px solid var(--tertiary);
}

input[type="submit"] {
    border: 0;
    background-color: var(--tertiary);
    color: white;
}

input[type="submit"]:hover {
    background-color: var(--alternate);
    color: black;
    border: 0
}

.Form h3 {
    font-size: 32px;
    color: var(--tertiary);
    font-weight: 700;
}

/* .Form label {
    width: 100%;
    display: block;
} */

@media screen {
    
}