.MenuBar {
    position: fixed;
    bottom: 0;
    height: 48px;
    background-color: var(--primary);
    width: 100%;
    color: white;
}

.MenuBar > div  {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}

.MenuBarLink {
    height: 32px;
    width: 32px;
    /* background-color: greenyellow; */
    position: relative;
    font-size: 22px;
}

.MenuBar a {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}