.App {
  /* padding: 0 16px; */
  min-height: 100vh;
  background-color: aliceblue;
  /* margin: 0 auto; */
  box-sizing: border-box;
}

.App p{
  margin: 0;
  padding: 0;
}

.App h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.App-wrapper {
    width: calc(100% - 24px);
    margin: 0 auto;
}

.App-wrapper > div {
  margin-bottom: 24px;
}