/* .Content {
    padding: 8px;
    height: 100%;
    position: relative;
} */

.Header {
    height: 15%;
    /* border-bottom: 2px solid var(--tertiary); */
    color: var(--tertiary);
    text-align: center;
}

.Main {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.Main h4 {
    margin-bottom: 8px;
}

/* .Action {
    position: absolute;
    bottom: 32px;
    right: 16px;
    height: 40px;
} */

.Action {
    height: 15%;
}

.Action button {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    outline: none;
    border: 0;
    background-color: var(--tertiary);
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 1px;
}

.Action button:hover {
    background-color: greenyellow;
    color: #252324;
}

.NoRun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.NoRun p {
    font-size: 18px;
}

.NoRun button {
    background-color: var(--tertiary);
    border: 0;
    outline: 0;
    padding: 8px;
    font-size: 18px;
    color: var(--primary);
    border-radius: 4px;
}